body {
  font-family: Arial, sans-serif;
  background color: #e8f0ff;
  padding: 10px;
}

#container {
  width: 100%;
  padding: 15px;
  border-radius: 0;
}

h1 {
  font-size: 22px;
  padding: 10px
}

h2 {
  font-size: 18px;
  padding: 10px;
}

.profile-img {
  width: 140px;
}

table {
  font-size: 14px;
}

ul {
  padding-left: 15px;
}

p {
  font-size: 14px;
}












